<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test1">
      <classes>
         <class name = "com.training.regression.tests.TC86Test" />
         <class name = "com.training.regression.tests.TC87Test" />
         <class name = "com.training.regression.tests.TC88Test" />
         <class name = "com.training.regression.tests.TC89Test" />
         <class name = "com.training.regression.tests.TC90Test" />                      
      </classes>
   </test>     
</suite>	