<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test1">
      <classes>
         <class name = "com.training.secondset.tests.TestCase56" />
         <class name = "com.training.secondset.tests.TestCase57" />
         <class name = "com.training.secondset.tests.TestCase58" />
         <class name = "com.training.secondset.tests.TestCase59" />
         <class name = "com.training.secondset.tests.TestCase60" />                      
      </classes>
   </test>     
</suite>	